* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1da1f2;
}

.channels {
    padding: 50px;
}

.page-header__headline {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400; 
}

.search-header {
    margin-top: 30px;
}

.search-header__headline {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.search-bar {
    margin-top: 10px;
}

.search-bar__input {
    height: 24px;
    width: 260px;
    border-radius: 4px;
}

.search-bar__input:focus ~ .search-bar__dropdown-hints {
    display: block;
}

.search-bar__dropdown-hints:hover {
    display: block;
}

.search-bar__dropdown-hints {
    position: absolute;
    background-color: #ffffff;
    width: 600px;
    overflow: hidden;
    display: none;
}

.search-bar__hints-not-found {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 10px;
    color: #c9c9c9;
}

.search-bar__hint {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-bar__hint-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.search-bar__hint-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 16px;
    white-space: nowrap;
}

.search-bar__hint-verified {
    width: 16px;
    height: 16px;
    padding-left: 4px;
}

.search-bar__hint-screen-name {
    font-family: 'Roboto', sans-serif;
    padding-left: 8px;
    color: grey;
}

.search-bar__button {
    background-color: #ffffff;
    color: #1da1f2;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    margin-left: 70px;
}

.channel {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 500px;
    margin-top: 20px;
    padding: 20px;
    user-select: none;
}

.channel__name {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
}

.channel__delete {
    display: inline-block;
    width: 20px;
    height: 20px;    
    margin-left: 20px;
    cursor: pointer;
}

.channel__info {
    display: none;
}

.channel__text {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    font-weight: 700;
}